<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="datamng-welcome">
            <h3 id="DeleteHeader">{{header}}</h3>
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button id="btnDeleteConfirm" title="{{confirm}}" class="btn btn-default"> {{confirm}}</button>
                </div>
                <div class="btn-group" role="group">
                    <button id="btnDeleteUndo" title="{{undo}}" class="btn btn-default fx-button-primary-color"> {{undo}}</button>
                </div>

            </div>

        </div>

    </div>
</div>
