<div class="row">
    <div class="col-xs-12">
        <div class="datamng-welcome">

            <h3 id="DManHeader">{{dManHeader}}</h3>
            <p id="DManIntro">{{dManIntro}}</p>

            <button id="btnSearch" class="btn btn-default fx-button-primary-color" title="{{searchBtn}}"> {{searchBtn}} </button>

            <button id="btnAdd" class="btn btn-default fx-button-primary-color" title="{{addBtn}}"> {{addBtn}} </button>

        </div>

    </div>
</div>
